<div *ngIf="product.title" class="card" >
    <img class="card-img-top" [src]="product.imageUrl" *ngIf="product.imageUrl" alt="{{ product.title }} ">
    <div class="card-body">
      <h5 class="card-title">{{ product.title}}</h5>
      <p class="card-text">{{ product.price | currency:'USD':true }}</p>
    </div>
    <div class="card-footer">
        <button 
          (click)="addToCart(product)"
          *ngIf="showActions" 
          class="btn btn-primary btn-block">Add to Cart</button>
    </div>
  </div>