<div *ngIf="product.title" class="card" >
    <img class="card-img-top" [src]="product.imageUrl" *ngIf="product.imageUrl" alt="{{ product.title }} ">
    <div class="card-body">
      <h5 class="card-title">{{ product.title}}</h5>
      <p class="card-text">{{ product.price | currency:'USD':true }}</p>
    </div>
    <div *ngIf="showActions && ShoppingCart"  class="card-footer">
        <button 
          *ngIf="ShoppingCart.getQuantity(product) === 0; else updateQuantity"
          (click)="addToCart()"
          class="btn btn-secondry btn-block">Add to Cart</button>
        <ng-template #updateQuantity>
          <product-quantity [product]="product" [shopping-cart]="ShoppingCart"></product-quantity>
        </ng-template>
        <div></div>  
    </div>
  </div>